# Python Pandas

One of the best options for working with tabular data in Python is to use the 
**Python Data Analysis Library (Pandas)**. 
The Pandas library provides data structures, produces high quality plots with matplotlib and integrates nicely with other libraries that use NumPy (which is another Python library) arrays.

In [ ]:
# Load library as a alias

In [ ]:
# Make sure figures appear inline in Ipython Notebook

### Read in data comma separated value file into data frame 
<img src="images/import.png" alt="import data" width="500"/>

In [ ]:
# Note that pd.read_csv is used because we imported pandas as pd

### What is our data?
<img src="images/metadata.png" alt="data description" width="500"/>

## Useful Ways to View DataFrame objects in Python

Summarize and access the data stored in DataFrames using attributes and methods provided by the DataFrame object.

**Attributes** are accessed using the DataFrame object name followed by the attribute name `df_object.attribute`

Examples of attributes:

In [ ]:
# List of column names

In [ ]:
# Shape (dimensions) of array

In [ ]:
# Data types

**Methods** are called using the syntax `df_object.method()` 

Examples of methods:

In [ ]:
# Look at the start of the data:

## Quick Statistics in a Pandas DataFrame

Let’s get a list of all the species. 
The `pd.unique` function tells us all of the unique values in the species_id column.

In [ ]:
# Unique list of species

### Groups in Pandas

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average weight of all individuals per site.

In [ ]:
# We can calculate basic statistics for all records in a single column:

In [ ]:
# Or all numeric data

But if we want to summarize by one or more variables, for example sex, we can use Pandas `.groupby` method.

In [ ]:
# Group data by sex


# Summary statistics for all numeric columns by sex

### Creating Summary Counts in Pandas

Let’s next count the number of samples for each species. 
Use `groupby` combined with a `count()` method.

In [ ]:
# Count the number of samples by species

#print(species_counts)

# Create a quick bar chart

### How do I create a new column from existing columns?  
If we wanted to, we could perform math on an entire column (or columns) of our data and add it to the dataframe.

<img src="images/newcol.png" alt="new column" width="500"/>

In [ ]:
# Example of basic math normalizing weight

To create a new column, use the `[]` brackets with the new column name at the left side of the assignment.

In [ ]:

#print(surveys_df)

# Indexing, Slicing and Subsetting DataFrames in Python

Selecting data using Labels (Column Headings)
We use square brackets `[]` to select a subset of a Python object. 

<img src="images/subset.png" alt="subsetting" width="500"/>

For example, we can select all data from a column named `species_id` from the `surveys_df` DataFrame by name. 
There are two ways to do this:

In [ ]:
# Method 1: select a 'subset' of the data using the column name


# Method 2: use the column name as an 'attribute'; gives the same output

We can also create a new object that contains only the data within the species_id column as follows:

In [ ]:
# Creates an object, surveys_species, that only contains the `species_id` column

In [ ]:
# Select the species and plot columns from the DataFrame

# What happens when you flip the order?

### Extracting Range based Subsets: Slicing
Slicing using the `[]` operator selects a set of rows and/or columns from a DataFrame. 
To slice out a set of rows, you use the following syntax: `data[start:stop]`. 

When slicing in pandas the start bound is included in the output. The stop bound is one step BEYOND the row you want to select.

In [ ]:
# Select rows 0, 1, 2 (row 3 is not selected)

In [ ]:
# Select the first 5 rows (rows 0, 1, 2, 3, 4)

In [ ]:
# Select the last element in the list
# (the slice starts at the last element, and ends at the end of the list)

### Slicing Subsets of Rows and Columns in Python

We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

- loc is primarily label based indexing. Integers may be used but they are interpreted as a label.
- iloc is primarily integer based indexing

To select a subset of rows and columns from our DataFrame, we can use the iloc method.

In [ ]:
# iloc[row slicing, column slicing]

Let’s explore some other ways to index and select subsets of data:

In [ ]:
# Select all columns for rows of index values 0 and 10

In [ ]:
# What does this do?
surveys_df.loc[0, ['species_id', 'plot_id', 'weight']]

In [ ]:
# What happens when you type the code below?
#surveys_df.loc[[0, 10, 35549], :]

### Subsetting Data using Criteria
We can use the syntax below when querying data by criteria from a DataFrame. 

- Equals: `==`
- Not equals: `!=`
- Greater than, less than: `>` or `<`
- Greater than or equal to `>=`
- Less than or equal to `<=`

In [ ]:
# Select all rows that have a year value of 2002

In [ ]:
#We can define sets of criteria too:

## Export a dataframe to a file

Next, let’s drop all the rows that contain missing values using `dropna`. 
By default, dropna removes rows that contain missing data for even just one column.

In [ ]:
df_na = surveys_df.dropna()

We can now use the to_csv command to export a DataFrame in CSV format. 
Note that the code below will by default save the data into the current working directory.

In [ ]:
# Write DataFrame to CSV
df_na.to_csv('surveys_complete.csv', index=False)

# Combining DataFrames with Pandas

In many research situations, the data that we want to use come in multiple files. We often need to combine these files into a single DataFrame to analyze the data. The pandas package provides various methods for combining DataFrames including `merge` and `concat`.

Load the species and surveys files into pandas DataFrames.

### Concatenating DataFrames
Use the `concat` function in pandas to append either columns or rows from one DataFrame to another.

In [ ]:
# Read in first 10 lines of surveys table
survey_sub = 

# Grab the last 10 rows
survey_sub_last10 = 

# Reset the index values to the second dataframe appends properly

     # drop=True option avoids adding new index column with old index values

When we concatenate DataFrames, we need to specify the axis. 

- axis=0 tells pandas to stack the second DataFrame UNDER the first one. It will automatically detect whether the column names are the same and will stack accordingly. 
- axis=1 will stack the columns in the second DataFrame to the RIGHT of the first DataFrame.

In [ ]:
# Stack the DataFrames on top of each other
vertical_stack = 
#print(vertical_stack)

In [ ]:
# Place the DataFrames side by side
horizontal_stack = 
#print(horizontal_stack)

## Joining Two DataFrames
Combine or **join** DataFrames using columns in each dataset that contain common values. 

The columns containing the common values are called **join key(s)**.

In [ ]:
### Identifying join keys
# To identify appropriate join keys we first need to know 
# which field(s) are shared between the files (DataFrames). 

print(species_df.columns)

print(surveys_df.columns)

Join key is the column containing the two-letter species identifier, which is called `species_id.`

There are different types of joins, so we need to decide which type of join makes sense for our analysis.

### Inner Join (default)

The pandas function for performing joins is called `merge` and an Inner join is the default option:

<img src="images/innerjoin.png" alt="Inner Join" width="250"/>

In [ ]:
merged_inner = 

# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result

# What's the size of the output data?
print(merged_inner.shape)
merged_inner

The result `merged_inner` DataFrame contains all of the columns from `surveys_df` (record id, month, day, etc.) as well as all the columns from `species_df` (species_id, genus, species, and taxa).

### Left joins
What if we want to add information from `species_df` to `surveys_df` without losing any of the information from `surveys_df`? In this case, we use a different type of join called a **left join**.

<img src="images/leftjoin.png" alt="Left Join" width="250"/>

A left join is performed in pandas by calling the same `merge` function used for inner join, but using the `how='left'` argument:

In [ ]:
merged_left = 
merged_left

### References and Image Sources
This lesson is based on the [Data Carpentry curriculum "Data Analysis and Visualization in Python for Ecologists"]("https://datacarpentry.org/python-ecology-lesson/") and the [Pandas Getting Started introductory tutorials]("https://pandas.pydata.org/docs/getting_started/intro_tutorials/").